<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>

<p class="animated fadeIn">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, quam quia. Reprehenderit dicta esse modi vel, non minus
  dolore quasi a minima odit nemo nisi accusamus expedita ullam asperiores eaque. Lorem, ipsum dolor sit amet consectetur
  adipisicing elit. Doloremque, nemo similique. Dolorum consequuntur cupiditate expedita excepturi sequi sit odio dicta illo.
  Minus, porro harum. Culpa sapiente veniam quam dolorum necessitatibus!
</p>
